# Feature Engineering. Практическая работа

Сдаётся на проверку.

## Цели практической работы

Научиться: 

*   генерировать новые признаки; 
*   нормализовать и кодировать данные с помощью lambda-функций и библиотеки scikit-learn.

## Что входит в практическую работу

1. Построить признаки из строк.
2. Преобразовать категориальные переменные.
3. Стандартизировать данные.
4. Использовать MinMaxScaler для нормализации данных.
5. Создать признаки на основе дат.
6. Сохранить датафрейм для этапа моделирования.

## Что оценивается
- Программа выдаёт верный ответ на заданном наборе данных.
- Описаны причины выбранного решения, если требуется.
- Код читабелен: переменным даны осмысленные названия, соблюдены отступы и правила расстановки пробелов.
- При построении графиков название и оси подписаны, выведена легенда, если требуется. 
- Репозиторий проекта содержит осмысленные коммиты, содержащие конкретные реализованные фичи, ветки названы согласно назначению, лишние файлы не хранятся в репозитории.
- В репозитории проекта соблюдена иерархия директорий согласно списку модулей и содержащихся в них тем.
- Репозиторий проекта содержит файлы с данными, полученными в результате выполнения практической работы.

## Как отправить работу на проверку
Сдайте практическую работу этого модуля через систему контроля версий Git сервиса Skillbox GitLab. После загрузки работы на проверку напишите об этом в личном кабинете своему проверяющему куратору.

## Задача

Мы продолжим исследовать и готовить данные для этапа моделирования.

Вам предстоит работать с небольшой выборкой из коллекции подержанных автомобилей, выставленных на продажу в Соединённых Штатах, представленной в файле `data/vehicles_dataset_upd.csv`. На этих данных вы построите первую модель классификации, определяющую категорию цены подержанного автомобиля в зависимости от характеристик транспортного средства.

В этой практической работе вы продолжите генерировать дополнительные признаки и завершите подготовку датасета для этапа моделирования.

## Описание датасета:
- `id`— идентификатор записи;
- `url`— URL-записи о продаже;
- `region`— регион;
- `region_url`— URL региона;
- `price`— стоимость;
- `year`— год выпуска;
- `manufacturer`— производитель;
- `model`— модель;
- `condition`— состояние;
- `cylinders`— количество цилиндров;
- `fuel`— тип топлива;
- `odometer`— количество пройденных миль;
- `title_status`— статус;
- `transmission`— коробка передач;
- `VIN`— идентификационный номер;
- `drive`— тип привода;
- `size`— размер;
- `type`— кузов;
- `paint_color`— цвет;
- `image_url`— URL изображения;
- `description`— указанное описание;
- `county`— страна;
- `state`— штат;
- `lat`— широта;
- `long`— долгота;
- `posting_date`— дата размещения объявления о продаже;
- `price_category`— категория цены.

In [232]:
# Импортируйте необходимые библиотеки
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler

### Задача 1. Построение признаков из строк

1. Загрузите датасет из `data/vehicles_dataset_upd6.csv`, выведите первые пять записей и список колонок.

In [233]:
# Ваш код здесь
df = pd.read_csv('vehicles_dataset_upd6.csv')
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,manufacturer_model,desc_len,model_in_desc,x0_diesel,x0_electric,x0_gas,x0_hybrid,x0_other,std_scaled_odometer,std_scaled_price
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,ram: 2500 crew cab big horn,4482,0,1.0,0.0,0.0,0.0,0.0,-1.079390,2.958509
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,ford: explorer 4wd 4dr xlt,968,0,0.0,0.0,0.0,0.0,1.0,-0.560115,-0.085826
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,volkswagen: golf r hatchback,4286,0,0.0,0.0,1.0,0.0,0.0,-1.292863,1.406256
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,toyota: rav4,3241,0,0.0,0.0,1.0,0.0,0.0,0.352621,-0.281218
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,bmw: 1 series 128i coupe 2d,4851,0,0.0,0.0,0.0,0.0,1.0,-0.234311,-0.274017

2. Выведите список значений и количество уникальных значений для модели автомобиля.

In [234]:
# Ваш код здесь

#Количество уникальных значений
df.model.nunique()

3341

In [235]:
#Cписок значений
df.model.value_counts()

f-150                        145
other                        107
silverado 1500               105
1500                          99
camry                         76
                            ...
sierra1500 crewcab 4x4         1
corolla se                     1
xc60 t6 inscription sport      1
silverado 1500 ls              1
a3 2.0t premium plus pzev      1
Name: model, Length: 3341, dtype: int64

3. Количество уникальных значений велико. Попробуем их сократить, оставив только первое слово в наименовании модели. С помощью lambda-функции и преобразования над строками создайте новый признак `short_model`, содержащий только первое слово из наименования модели, выведите его и количество получившихся уникальных значений.

In [236]:
# Ваш код здесь
df['short_model'] = df.apply(lambda x: x.model.split()[0], axis=1)
df['short_model']

0           2500
1       explorer
2           golf
3           rav4
4              1
          ...
9614        rav4
9615    wrangler
9616          a3
9617     cayenne
9618        1500
Name: short_model, Length: 9619, dtype: object

In [237]:
df['short_model'].nunique()

943

### Задача 2. Преобразование категориальных переменных

1. Для категориальных переменных `short_model`, `transmission`, `region`, `manufacturer`, `state`, `title_status`, `age_category` распечатайте наименование категории и количество уникальных значений в ней.

In [238]:
#В датасете не было этой категории, поэтому добавил вручную 
df['age_category'] = df.apply(lambda x: 'new' if x.year > 2013 else ('old' if x.year < 2006 else 'average'), axis=1)

In [239]:
# Ваш код здесь
categories = ['short_model', 'transmission', 'region', 'manufacturer', 'state', 'title_status', 'age_category']

print('Категориальные переменные и количество уникальных значений к ним:')
for category in categories:
    print(f'{category}: {df[category].nunique()}')

Категориальные переменные и количество уникальных значений к ним:
short_model: 943
transmission: 3
region: 393
manufacturer: 40
state: 51
title_status: 6
age_category: 3

2. Создайте датафрейм `data`, содержащий только выбранные категориальные переменные.

In [240]:
# Ваш код здесь
data = pd.DataFrame()

for category in categories:
    data[category] = df[category]

data

,short_model,transmission,region,manufacturer,state,title_status,age_category
0,2500,other,chattanooga,ram,tn,clean,new
1,explorer,automatic,north jersey,ford,nj,clean,new
2,golf,other,reno / tahoe,volkswagen,ca,clean,new
3,rav4,automatic,fayetteville,toyota,nc,clean,average
4,1,other,knoxville,bmw,tn,clean,average
...,...,...,...,...,...,...,...
9614,rav4,automatic,chautauqua,toyota,ny,clean,old
9615,wrangler,other,binghamton,jeep,ny,clean,average
9616,a3,automatic,salem,audi,or,clean,average
9617,cayenne,automatic,madison,porsche,wi,clean,new
9618,1500,other,norfolk / hampton roads,ram,va,clean,new

3. Создайте объект класса OneHotEncoder, который будет отвечать за преобразование. Уточните, что на выходе должна быть неразреженная матрица.

In [241]:
# Ваш код здесь
ohe = OneHotEncoder(sparse=False)

4. Идентифицируйте параметры преобразования на датафрейме с категориальными переменными.

In [242]:
# Ваш код здесь
ohe.fit(data)

OneHotEncoder(sparse=False)

5. Примените преобразование для датафрейма с категориальными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [243]:
# Ваш код здесь
ohe_new = ohe.transform(data)
print(ohe_new, ohe_new.shape)

[[0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 ...
 [0. 0. 0. ... 1. 0. 0.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]] (9619, 1439)

6. Выведите новые наименования признаков с помощью метода `get_feature_names_out`.

In [244]:
# Ваш код здесь
ohe.get_feature_names_out()

array(['short_model_-benz', 'short_model_1', 'short_model_124', ...,
       'age_category_average', 'age_category_new', 'age_category_old'],
      dtype=object)

7. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [246]:
# Ваш код здесь
df[ohe.get_feature_names_out()] = ohe_new
df.head()

,id,url,region,region_url,price,year,manufacturer,model,fuel,odometer,...,state_wy,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage,age_category_average,age_category_new,age_category_old
0,7308295377,https://chattanooga.craigslist.org/ctd/d/chatt...,chattanooga,https://chattanooga.craigslist.org,54990,2020,ram,2500 crew cab big horn,diesel,27442,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,7316380095,https://newjersey.craigslist.org/ctd/d/carlsta...,north jersey,https://newjersey.craigslist.org,16942,2016,ford,explorer 4wd 4dr xlt,other,60023,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,7313733749,https://reno.craigslist.org/ctd/d/atlanta-2017...,reno / tahoe,https://reno.craigslist.org,35590,2017,volkswagen,golf r hatchback,gas,14048,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,7308210929,https://fayetteville.craigslist.org/ctd/d/rale...,fayetteville,https://fayetteville.craigslist.org,14500,2013,toyota,rav4,gas,117291,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,7303797340,https://knoxville.craigslist.org/ctd/d/knoxvil...,knoxville,https://knoxville.craigslist.org,14590,2012,bmw,1 series 128i coupe 2d,other,80465,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

8. Посмотрите на результат обратного преобразования получившейся матрицы в исходные признаки, используйте `inverse_transform`.

In [247]:
# Ваш код здесь
ohe.inverse_transform(df[ohe.get_feature_names_out()])

array([['2500', 'other', 'chattanooga', ..., 'tn', 'clean', 'new'],
       ['explorer', 'automatic', 'north jersey', ..., 'nj', 'clean',
        'new'],
       ['golf', 'other', 'reno / tahoe', ..., 'ca', 'clean', 'new'],
       ...,
       ['a3', 'automatic', 'salem', ..., 'or', 'clean', 'average'],
       ['cayenne', 'automatic', 'madison', ..., 'wi', 'clean', 'new'],
       ['1500', 'other', 'norfolk / hampton roads', ..., 'va', 'clean',
        'new']], dtype=object)

### Задача 3. Стандартизация данных

1. Создайте переменную под количественные переменные `lat`, `long`, `year`, `odometer/price`, `desc_len`, `model_in_desc`, `model_len`, `model_word_count` и создайте датафрейм `data`, содержащий только выбранные количественные переменные.

In [248]:
#В датасете не было этих категории, поэтому добавил вручную 
df['model_len'] = df.apply(lambda x: len(x.model) , axis=1)
df['model_word_count'] = df.apply(lambda x: len(x.model.split(' ')), axis=1)

In [249]:
# Ваш код здесь
data = pd.DataFrame()

variables = ['lat', 'long', 'year', 'odometer/price', 'desc_len', 'model_in_desc', 'model_len', 'model_word_count']

for variable in variables:
    data[variable] = df[variable]
    
data

,lat,long,year,odometer/price,desc_len,model_in_desc,model_len,model_word_count
0,35.060000,-85.250000,2020,0.499036,4482,0,22,5
1,40.821805,-74.061962,2016,3.542852,968,0,20,4
2,33.779214,-84.411811,2017,0.394718,4286,0,16,3
3,35.715954,-78.655304,2013,8.089034,3241,0,4,1
4,35.970000,-83.940000,2012,5.515079,4851,0,22,5
...,...,...,...,...,...,...,...,...
9614,42.123900,-79.189500,2002,33.370412,1710,0,4,1
9615,43.216990,-77.755610,2008,7.835323,948,0,8,1
9616,44.925908,-122.982753,2011,16.696387,909,0,25,5
9617,43.029559,-89.397796,2015,1.941787,3644,0,7,1
9618,36.670000,-76.300000,2017,1.122882,4483,0,22,5

2. Создайте объект `std_scaler` класса StandardScaler с параметрами по умолчанию, который будет отвечать за стандартизацию.

In [250]:
# Ваш код здесь
std_scaler = StandardScaler()

3. Идентифицируйте параметры преобразования на датафрейме с количественными переменными.

In [251]:
# Ваш код здесь
std_scaler.fit(data)

StandardScaler()

4. Примените преобразование для датафрейма с количественными переменными и сохраните в новую переменную, распечатайте получившуюся матрицу и её размерность.

In [252]:
# Ваш код здесь
std_scaler_data = std_scaler.transform(data) 
print(std_scaler_data, std_scaler_data.shape)

[[-0.61917248  0.48424452  1.32239376 ... -0.15578836  1.16303238
   1.91066901]
 [ 0.38801429  1.11079989  0.69597272 ... -0.15578836  0.93208734
   1.23579936]
 [-0.84305905  0.531185    0.85257798 ... -0.15578836  0.47019727
   0.56092971]
 ...
 [ 1.10542805 -1.62887477 -0.08705357 ... -0.15578836  1.50944993
   1.91066901]
 [ 0.7739386   0.25195859  0.53936746 ... -0.15578836 -0.56905538
  -0.78880959]
 [-0.33773799  0.98546471  0.85257798 ... -0.15578836  1.16303238
   1.91066901]] (9619, 8)

5. Создайте наименования новых признаков по шаблону: `lat_std` для `lat` и так далее.

In [253]:
# Ваш код здесь
col_names = ['lat', 'long', 'year', 'odometer/price', 'desc_len', 'model_in_desc', 'model_len', 'model_word_count']
new_col_names = [name + '_std' for name in col_names]

6. Добавьте в исходный датафрейм получившиеся новые признаки, выведите первые пять записей датафрейма и список колонок.

In [254]:
# Ваш код здесь
data[new_col_names] = std_scaler_data
data

,lat,long,year,odometer/price,desc_len,model_in_desc,model_len,model_word_count,lat_std,long_std,year_std,odometer/price_std,desc_len_std,model_in_desc_std,model_len_std,model_word_count_std
0,35.060000,-85.250000,2020,0.499036,4482,0,22,5,-0.619172,0.484245,1.322394,-0.510784,0.632075,-0.155788,1.163032,1.910669
1,40.821805,-74.061962,2016,3.542852,968,0,20,4,0.388014,1.110800,0.695973,-0.402947,-0.646781,-0.155788,0.932087,1.235799
2,33.779214,-84.411811,2017,0.394718,4286,0,16,3,-0.843059,0.531185,0.852578,-0.514480,0.560744,-0.155788,0.470197,0.560930
3,35.715954,-78.655304,2013,8.089034,3241,0,4,1,-0.504509,0.853562,0.226157,-0.241883,0.180435,-0.155788,-0.915473,-0.788810
4,35.970000,-83.940000,2012,5.515079,4851,0,22,5,-0.460101,0.557607,0.069552,-0.333074,0.766366,-0.155788,1.163032,1.910669
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9614,42.123900,-79.189500,2002,33.370412,1710,0,4,1,0.615626,0.823646,-1.496501,0.653795,-0.376744,-0.155788,-0.915473,-0.788810
9615,43.216990,-77.755610,2008,7.835323,948,0,8,1,0.806702,0.903947,-0.556869,-0.250872,-0.654060,-0.155788,-0.453583,-0.788810
9616,44.925908,-122.982753,2011,16.696387,909,0,25,5,1.105428,-1.628875,-0.087054,0.063061,-0.668253,-0.155788,1.509450,1.910669
9617,43.029559,-89.397796,2015,1.941787,3644,0,7,1,0.773939,0.251959,0.539367,-0.459670,0.327100,-0.155788,-0.569055,-0.788810
9618,36.670000,-76.300000,2017,1.122882,4483,0,22,5,-0.337738,0.985465,0.852578,-0.488682,0.632439,-0.155788,1.163032,1.910669

### Задача 4. MinMax-нормализация данных

1. Импортируйте MinMaxScaler из `sklearn.preprocessing`.

In [255]:
# Ваш код здесь
from sklearn.preprocessing import MinMaxScaler

2. Создайте датафрейм, содержащий переменные `lat` и `long`.

In [256]:
# Ваш код здесь
data_4 = pd.DataFrame()
data_4['lat'] = df['lat']
data_4['long'] = df['long']

3. Повторите действия пунктов 2–6 из задачи 3 для добавления в исходный датафрейм признаков `lat_mm` и `long_mm`. Выведите получившийся датафрейм.

In [257]:
# Ваш код здесь
std_scaler.fit(data_4)


#
std_scaler_data_4 = std_scaler.transform(data_4)


#
col_names = ['lat', 'long']
new_col_names = [name + '_mm' for name in col_names]


#
data_4[new_col_names] = std_scaler_data_4


#
data_4

            lat        long    lat_mm   long_mm
0     35.060000  -85.250000 -0.619172  0.484245
1     40.821805  -74.061962  0.388014  1.110800
2     33.779214  -84.411811 -0.843059  0.531185
3     35.715954  -78.655304 -0.504509  0.853562
4     35.970000  -83.940000 -0.460101  0.557607
...         ...         ...       ...       ...
9614  42.123900  -79.189500  0.615626  0.823646
9615  43.216990  -77.755610  0.806702  0.903947
9616  44.925908 -122.982753  1.105428 -1.628875
9617  43.029559  -89.397796  0.773939  0.251959
9618  36.670000  -76.300000 -0.337738  0.985465

[9619 rows x 4 columns]

4. Создайте переменную под географические признаки `lat`, `lat_std`, `lat_mm`, `long`, `long_std`, `long_mm` и выведите их. Посмотрите на различия в значениях для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [258]:
# Ваш код здесь
geography = pd.DataFrame()

geography['lat'] = df['lat']
geography['lat_std'] = data['lat_std']
geography['lat_mm'] = data_4['lat_mm']

geography['long'] = df['long']
geography['long_std'] = data['long_std']
geography['long_mm'] = data_4['long_mm']

MinMaxScaler(geography)

MinMaxScaler(feature_range=            lat   lat_std    lat_mm        long  long_std   long_mm
0     35.060000 -0.619172 -0.619172  -85.250000  0.484245  0.484245
1     40.821805  0.388014  0.388014  -74.061962  1.110800  1.110800
2     33.779214 -0.843059 -0.843059  -84.411811  0.531185  0.531185
3     35.715954 -0.504509 -0.504509  -78.655304  0.853562  0.853562
4     35.970000 -0.460101 -0.460101  -83.940000  0.557607  0.557607
...         ...       ...       ...         ...       ...       ...
9614  42.123900  0.615626  0.615626  -79.189500  0.823646  0.823646
9615  43.216990  0.806702  0.806702  -77.755610  0.903947  0.903947
9616  44.925908  1.105428  1.105428 -122.982753 -1.628875 -1.628875
9617  43.029559  0.773939  0.773939  -89.397796  0.251959  0.251959
9618  36.670000 -0.337738 -0.337738  -76.300000  0.985465  0.985465

[9619 rows x 6 columns])

5. Выведите описательные статистики для всех географических признаков. Посмотрите на различия в статистиках для исходных признаков и нормализованных с помощью стандартизации и MinMax-преобразования.

In [259]:
# Ваш код здесь
MinMaxScaler(geography.describe())

MinMaxScaler(feature_range=               lat       lat_std        lat_mm         long      long_std  \
count  9619.000000  9.619000e+03  9.619000e+03  9619.000000  9.619000e+03
mean     38.602095  2.108662e-16  2.108662e-16   -93.896875 -4.267993e-16
std       5.720989  1.000052e+00  1.000052e+00    17.857352  1.000052e+00
min      19.541726 -3.331829e+00 -3.331829e+00  -158.069300 -3.593801e+00
25%      34.920000 -6.436450e-01 -6.436450e-01  -106.944340 -7.306875e-01
50%      39.300000  1.219966e-01  1.219966e-01   -87.845800  3.388739e-01
75%      42.382100  6.607601e-01  6.607601e-01   -80.678711  7.402470e-01
max      64.947500  4.605283e+00  4.605283e+00    94.163200  1.053179e+01

            long_mm
count  9.619000e+03
mean  -4.267993e-16
std    1.000052e+00
min   -3.593801e+00
25%   -7.306875e-01
50%    3.388739e-01
75%    7.402470e-01
max    1.053179e+01  )

In [260]:
geography.describe()

,lat,lat_std,lat_mm,long,long_std,long_mm
count,9619.000000,9.619000e+03,9.619000e+03,9619.000000,9.619000e+03,9.619000e+03
mean,38.602095,2.108662e-16,2.108662e-16,-93.896875,-4.267993e-16,-4.267993e-16
std,5.720989,1.000052e+00,1.000052e+00,17.857352,1.000052e+00,1.000052e+00
min,19.541726,-3.331829e+00,-3.331829e+00,-158.069300,-3.593801e+00,-3.593801e+00
25%,34.920000,-6.436450e-01,-6.436450e-01,-106.944340,-7.306875e-01,-7.306875e-01
50%,39.300000,1.219966e-01,1.219966e-01,-87.845800,3.388739e-01,3.388739e-01
75%,42.382100,6.607601e-01,6.607601e-01,-80.678711,7.402470e-01,7.402470e-01
max,64.947500,4.605283e+00,4.605283e+00,94.163200,1.053179e+01,1.053179e+01

6. Выведите матрицу корреляций для всех географических признаков, чтобы убедиться, что нормализация признаков сохранила свойства исходных признаков.

In [261]:
# Ваш код здесь
geography.corr()

               lat   lat_std    lat_mm      long  long_std   long_mm
lat       1.000000  1.000000  1.000000 -0.134596 -0.134596 -0.134596
lat_std   1.000000  1.000000  1.000000 -0.134596 -0.134596 -0.134596
lat_mm    1.000000  1.000000  1.000000 -0.134596 -0.134596 -0.134596
long     -0.134596 -0.134596 -0.134596  1.000000  1.000000  1.000000
long_std -0.134596 -0.134596 -0.134596  1.000000  1.000000  1.000000
long_mm  -0.134596 -0.134596 -0.134596  1.000000  1.000000  1.000000

### Задача 5. Признаки на основе дат

1. Выведите по отдельности колонки `posting_date` и `date`.

In [262]:
# Ваш код здесь
df[['posting_date', 'date']]

                  posting_date                       date
0     2021-04-17T12:30:50-0400  2021-04-17 16:30:50+00:00
1     2021-05-03T15:40:21-0400  2021-05-03 19:40:21+00:00
2     2021-04-28T03:52:20-0700  2021-04-28 10:52:20+00:00
3     2021-04-17T10:08:57-0400  2021-04-17 14:08:57+00:00
4     2021-04-08T15:10:56-0400  2021-04-08 19:10:56+00:00
...                        ...                        ...
9614  2021-04-10T16:33:57-0400  2021-04-10 20:33:57+00:00
9615  2021-05-03T09:36:30-0400  2021-05-03 13:36:30+00:00
9616  2021-04-22T12:14:01-0700  2021-04-22 19:14:01+00:00
9617  2021-04-14T09:14:42-0500  2021-04-14 14:14:42+00:00
9618  2021-04-24T13:50:49-0400  2021-04-24 17:50:49+00:00

[9619 rows x 2 columns]

2. Ранее преобразованная колонка `date` после сохранения в файл и загрузки из него содержит данные в строковом формате, поэтому измените её тип c помощью `pd.to_datetime`.

In [263]:
# Ваш код здесь
df['date'] = pd.to_datetime(df['date'], utc=True)
df['date']

0      2021-04-17 16:30:50+00:00
1      2021-05-03 19:40:21+00:00
2      2021-04-28 10:52:20+00:00
3      2021-04-17 14:08:57+00:00
4      2021-04-08 19:10:56+00:00
                  ...
9614   2021-04-10 20:33:57+00:00
9615   2021-05-03 13:36:30+00:00
9616   2021-04-22 19:14:01+00:00
9617   2021-04-14 14:14:42+00:00
9618   2021-04-24 17:50:49+00:00
Name: date, Length: 9619, dtype: datetime64[ns, UTC]

3. Несколькими способами извлеките номер месяца продажи автомобиля.

3.1. Из переменной `posting_date` с помощью lambda-функции и операций над строками.

In [264]:
# Ваш код здесь
df.posting_date.apply(lambda x: x.split('-')[1])

0       04
1       05
2       04
3       04
4       04
        ..
9614    04
9615    05
9616    04
9617    04
9618    04
Name: posting_date, Length: 9619, dtype: object

3.2. Из переменной `date` с помощью lambda-функции и метода `month`.

In [265]:
# Ваш код здесь
df['date'].apply(lambda x: x.month)

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: date, Length: 9619, dtype: int64

3.3. Из переменной `date` с помощью `dt` и метода `month`.

In [266]:
# Ваш код здесь
df.date.dt.month

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: date, Length: 9619, dtype: int64

4. Создайте любым из способов (3.2 или 3.3) признак `month`, обозначающий номер месяца размещения объявления о продаже автомобиля, и распечатайте его.

In [267]:
# Ваш код здесь
df['posting_date'] = pd.to_datetime(df['posting_date'], utc=True)
df['month'] = df.posting_date.apply(lambda x: x.month)
print(df['month'])

0       4
1       5
2       4
3       4
4       4
       ..
9614    4
9615    5
9616    4
9617    4
9618    4
Name: month, Length: 9619, dtype: int64

5. Создайте признак `dayofweek`, обозначающий день недели размещения объявления о продаже автомобиля, и распечатайте его.

In [268]:
# Ваш код здесь
df['dayofweek'] = df.date.dt.dayofweek
print(df['dayofweek'])

0       5
1       0
2       2
3       5
4       3
       ..
9614    5
9615    0
9616    3
9617    2
9618    5
Name: dayofweek, Length: 9619, dtype: int64

6. Создайте признак `diff_years`, обозначающий количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля, и распечатайте его. Дополнительные корректировки не применяйте.

In [269]:
# Ваш код здесь
df['diff_years'] = df.date.dt.year - df.posting_date.dt.year
print(df['diff_years'])

0       0
1       0
2       0
3       0
4       0
       ..
9614    0
9615    0
9616    0
9617    0
9618    0
Name: diff_years, Length: 9619, dtype: int64

7. Примените стандартизацию к новым признаками и сохраните результат в новые признаки вида `month_std`.

In [270]:
# Ваш код здесь
std_scaler_month_std = std_scaler.fit(df[['month']])
std_scaler_month_std = std_scaler.transform(df[['month']])
df['month_std'] = std_scaler_month_std
df['month_std']

0      -0.615846
1       1.623784
2      -0.615846
3      -0.615846
4      -0.615846
          ...
9614   -0.615846
9615    1.623784
9616   -0.615846
9617   -0.615846
9618   -0.615846
Name: month_std, Length: 9619, dtype: float64

### Задача 6. Сохранение датафрейма для этапа моделирования

1. Удалите колонки, которые были исходными для формирования признаков, а также новые признаки, которые были добавлены с целью обучения.  Сохраните новый датафрейм в переменную `df_prepared`.

In [271]:
# Допишите код
columns_for_drop = ['year', 'url', 'region', 'region_url', 'manufacturer',
                    'model', 'fuel', 'odometer', 'title_status', 'transmission',
                    'image_url', 'description', 'state', 'lat', 'long', 'posting_date',
                    'odometer_km', 'odometer/price', 'region_new', 'region_corrected', 'manufacturer_model',
                    'desc_len', 'model_in_desc','age_category', 'model_len', 'model_word_count',
                    'short_model', 'lat_mm', 'long_mm', 'date', 'std_scaled_price',
                    'month', 'dayofweek', 'diff_years',
                    'odometer/price_std', 'price_k']

df_prepared = df.drop(labels=columns_for_drop, axis=1, errors='ignore')

2. Распечатайте оставшийся список колонок и размерность финального датафрейма.

In [272]:
# Ваш код здесь
df_prepared.shape

(9619, 1449)

In [273]:
df_prepared

,id,price,price_category,x0_diesel,x0_electric,x0_gas,x0_hybrid,x0_other,std_scaled_odometer,short_model_-benz,...,title_status_clean,title_status_lien,title_status_missing,title_status_parts only,title_status_rebuilt,title_status_salvage,age_category_average,age_category_new,age_category_old,month_std
0,7308295377,54990,high,1.0,0.0,0.0,0.0,0.0,-1.079390,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.615846
1,7316380095,16942,medium,0.0,0.0,0.0,0.0,1.0,-0.560115,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.623784
2,7313733749,35590,high,0.0,0.0,1.0,0.0,0.0,-1.292863,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.615846
3,7308210929,14500,medium,0.0,0.0,1.0,0.0,0.0,0.352621,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.615846
4,7303797340,14590,medium,0.0,0.0,0.0,0.0,1.0,-0.234311,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.615846
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9614,7304876387,4495,low,0.0,0.0,1.0,0.0,0.0,0.873936,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,-0.615846
9615,7316152972,14495,medium,0.0,0.0,1.0,0.0,0.0,0.293363,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.623784
9616,7310993818,8995,low,0.0,0.0,1.0,0.0,0.0,0.876868,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-0.615846
9617,7306637427,31900,high,0.0,0.0,0.0,1.0,0.0,-0.529514,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.615846
9618,7311960763,31990,high,0.0,0.0,1.0,0.0,0.0,-0.944252,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-0.615846

3. Запишите преобразованный датафрейм в файл `data/vehicles_dataset_prepared.csv`, индекс не сохраняйте.

In [277]:
# Ваш код здесь
df_prepared.to_csv('vehicles_dataset_prepared.csv')

## Описание преобразованного датасета:
- `id`— идентификатор записи;
- `is_manufacturer_name`— признак производителя автомобиля;

- `region_*`— регион;
- `x0_*`— тип топлива;
- `manufacturer_*`— производитель;
- `short_model_*`— сокращённая модель автомобиля;
- `title_status_*`— статус;
- `transmission_*`— коробка передач;
- `state_*`— штат;
- `age_category_*`— возрастная категория автомобиля;

- `std_scaled_odometer`— количество пройденных миль (после стандартизации);
- `year_std`— год выпуска (после стандартизации);
- `lat_std`— широта (после стандартизации);
- `long_std`— долгота (после стандартизации);
- `odometer/price_std`— отношение стоимости к пробегу автомобиля (после стандартизации);
- `desc_len_std`— количество символов в тексте объявления о продаже (после стандартизации);
- `model_in_desc_std`— количество наименований модели автомобиля в тексте объявления о продаже (после стандартизации);
- `model_len_std`— длина наименования автомобиля (после стандартизации);
- `model_word_count_std`— количество слов в наименовании автомобиля (после стандартизации);
- `month_std`— номер месяца размещения объявления о продаже автомобиля (после стандартизации);
- `dayofweek_std`— день недели размещения объявления о продаже автомобиля (после стандартизации);
- `diff_years_std`— количество лет между годом производства автомобиля и годом размещения объявления о продаже автомобиля (после стандартизации);

- `price`— стоимость;
- `price_category`– категория цены.